*{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main {
    flex: 1;
}
body {
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.introducao h1 {
    font-size: 40px;
}
.introducao img {
    border-radius: 50%;
}
header a {
    font-size: 25px;
    margin: 100px;
}
header {
    font-family: "Bebas Neue", sans-serif;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: rgb(23, 47, 99);
        text-decoration: none;
        font-weight: bold;
    }
}
.introducao {
    letter-spacing: 2.5px;
    word-spacing: 10px;
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(to right, rgb(82, 121, 206),  rgb(23, 47, 99)) ;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}
#cabecalho {
margin: 20px;
}
.projetos a {
    font-weight: 800;
    font-size: 18px;
    color: black;
}
.projetos h1 {
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    word-spacing: 10px;
}
.projetos {
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    background: white;    
}
footer {
    font-family: sans-serif;
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding: 20px;
    background: linear-gradient(to left, rgb(82, 121, 206),  rgb(23, 47, 99));
    color: white;
    margin-top: auto;
}
.projeto p {
    margin-top: 20px;
    font-size: 20px;
}
.projeto img {
    border-radius: 10px;
    margin-bottom: 10px;
}
.projeto {
    border-radius: 10px;
    padding: 15px;
    margin: 60px;
    transition: 1s;
    background-color: white;
    box-shadow: 0px 1px 10px gray;
}
.projeto button:hover {
    transform: scale(1.01)
}
.projeto:hover {
    transform: scale(1.2);
}
.foot {
    padding-top: 50px;
    padding-bottom: 50px;
}